:root {
  --AI-primitives-global-colours-AI-base-AI-black: rgba(28, 18, 19, 1);
  --AI-primitives-global-colours-AI-base-AI-white: rgba(255, 255, 255, 1);
  --AI-primitives-global-colours-AI-blue-b100: rgba(209, 227, 255, 1);
  --AI-primitives-global-colours-AI-blue-b100-duplicate: rgba(209, 227, 255, 1);
  --AI-primitives-global-colours-AI-blue-b500: rgba(49, 116, 224, 1);
  --AI-primitives-global-colours-AI-blue-b900: rgba(9, 50, 115, 1);
  --AI-primitives-global-colours-AI-cream: rgba(249, 246, 238, 1);
  --AI-primitives-global-colours-AI-cream-duplicate: rgba(249, 246, 238, 1);
  --AI-primitives-global-colours-AI-gold-dark: rgba(158, 121, 71, 1);
  --AI-primitives-global-colours-AI-green-g500: rgba(42, 166, 70, 1);
  --AI-primitives-global-colours-AI-green-g600: rgba(21, 140, 48, 1);
  --AI-primitives-global-colours-AI-green-g600-duplicate: rgba(21, 140, 48, 1);
  --AI-primitives-global-colours-AI-grey-g100: rgba(237, 238, 241, 1);
  --AI-primitives-global-colours-AI-grey-g200: rgba(211, 214, 219, 1);
  --AI-primitives-global-colours-AI-grey-g200-duplicate: rgba(211, 214, 219, 1);
  --AI-primitives-global-colours-AI-grey-g300: rgba(176, 181, 191, 1);
  --AI-primitives-global-colours-AI-grey-g400: rgba(130, 138, 153, 1);
  --AI-primitives-global-colours-AI-grey-g50: rgba(247, 248, 248, 1);
  --AI-primitives-global-colours-AI-grey-g500: rgba(98, 103, 115, 1);
  --AI-primitives-global-colours-AI-grey-g600: rgba(73, 78, 92, 1);
  --AI-primitives-global-colours-AI-grey-g700: rgba(65, 68, 76, 1);
  --AI-primitives-global-colours-AI-grey-g900: rgba(37, 39, 44, 1);
  --AI-primitives-global-colours-AI-purple-p100: rgba(249, 208, 248, 1);
  --AI-primitives-global-colours-AI-red-r500-brand: rgba(218, 14, 41, 1);
  --AI-primitives-global-colours-AI-red-r500-brand-duplicate: rgba(218, 14, 41, 1);
  --AI-primitives-global-colours-base-white: rgba(255, 255, 255, 1);
  --AI-primitives-spacing-4: 12px;
  --AI-primitives-spacing-5: 16px;
  --AI-tokens-buttons-primary-BG: var(--AI-primitives-global-colours-AI-red-r500-brand-duplicate);
  --AI-tokens-spacing-system-spacing-medium: var(--AI-primitives-spacing-5);
  --AI-tokens-spacing-system-spacing-s: var(--AI-primitives-spacing-4);
  --AI-tokens-text-text-body: var(--AI-primitives-global-colours-AI-grey-g600);
  --body-body-medium-font-family: "Nunito Sans", Helvetica;
  --body-body-medium-font-size: 14px;
  --body-body-medium-font-style: normal;
  --body-body-medium-font-weight: 400;
  --body-body-medium-letter-spacing: 0.035px;
  --body-body-medium-line-height: 139.9999976158142%;
  --elevation-bottom-XS: 0px 1px 2px 0px rgba(30, 41, 59, 0.05), 0px 1px 3px 0px rgba(30, 41, 59, 0.1);
  --headings-h6-font-family: "AirIndia Variable", Helvetica;
  --headings-h6-font-size: 18px;
  --headings-h6-font-style: normal;
  --headings-h6-font-weight: 700;
  --headings-h6-letter-spacing: 0px;
  --headings-h6-line-height: 125%;
  --primary-solidsblack: rgba(0, 0, 0, 1);
  --subtitle-subtitle-m-font-family: "AirIndia Variable", Helvetica;
  --subtitle-subtitle-m-font-size: 14px;
  --subtitle-subtitle-m-font-style: normal;
  --subtitle-subtitle-m-font-weight: 700;
  --subtitle-subtitle-m-letter-spacing: 0px;
  --subtitle-subtitle-m-line-height: 125%;
  --subtitle-subtitle-m-n-font-family: "Nunito Sans", Helvetica;
  --subtitle-subtitle-m-n-font-size: 14px;
  --subtitle-subtitle-m-n-font-style: normal;
  --subtitle-subtitle-m-n-font-weight: 700;
  --subtitle-subtitle-m-n-letter-spacing: 0px;
  --subtitle-subtitle-m-n-line-height: 125%;
  --subtitle-subtitle-s-font-family: "AirIndia Variable", Helvetica;
  --subtitle-subtitle-s-font-size: 12px;
  --subtitle-subtitle-s-font-style: normal;
  --subtitle-subtitle-s-font-weight: 700;
  --subtitle-subtitle-s-letter-spacing: 0.12px;
  --subtitle-subtitle-s-line-height: 139.9999976158142%;
}
